html {
  background-color: black;
}

.chat-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  background-color: #141414;
  width: 100%;
  vertical-align: middle;

  margin: auto;
}
.one {
  grid-column: 1;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}
.two {
  grid-column: 2;
  height: fit-content;
}

#chat-title {
  display: inline-block;
  margin: auto;
  color: whitesmoke;
}

.hide-chat {
  vertical-align: middle;
}

.chat{

  height:80%;
 
}


.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}


.chat-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  background-color: #141414;
  width: 100%;
  vertical-align: middle;

  margin: auto;
}

.wrap-chat{
  
    position: fixed;
    width: 100%;
    height: 85%;
    left: 0;
    top: 7%;
    margin-bottom: 15%;
   
    z-index: 10;
  
}