.wrapper {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(0, 151, 255, 1) 0%,
    rgba(115, 198, 255, 1) 34%,
    rgb(25, 26, 25) 74%
  );
}
